

<div class="container-fluid">
    
    
    <div class="d-flex justify-content-center">
        <div class="pt-2  w-50">
            <div class="card card-body btn ">
                <h3>ระบบจัดการพนักงาน</h3>
            </div>
        </div>
    </div>
  
   


    <div class="d-flex  justify-content-start mb-1">
        <button  type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-add" onclick="">
            เพิ่มพนักงาน
        </button>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card card-body">
                
                <table id="employee" class="table table-bordered table-hover " >
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>ชื่อ</th>
                            <th>นามสกุล</th>
                            <th>ที่อยู่</th>
                            <th>เบอร์</th>
                            <th>ตำเเหน่ง</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i of db_employee) {%>
                            <tr>
                                <td><%= i.id%></td>
                                <td><%= i.f_name%></td>
                                <td><%= i.l_name%></td>
                                <td><%= i.address%></td>
                                <td><%= i.tel%></td>
                                <td><%= i.position%></td>
                               
                                <td>
                                    <div class="d-flex">
                                        <p class="btn btn-warning p-1 px-1 mr-1" data-toggle="modal" data-target="#modal-update"onclick="update('<%=JSON.stringify(i)%>') ">แก้
                                        </p>
                                        <p class="btn btn-danger p-1 px-1 " onclick="del('<%=i.id%>')" >ลบ</p>
                                    </div>
                                </td>
                                
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


<form id="delete" action="manage_emp/delete" method="post" class="d-inline">
    <input type="number" name="id_del" class="d-none" value="">
</form>

<!-- =================== Modal Insert ===================-->
<div class="modal fade" id="modal-add">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-purple">
          <h4 class="modal-title ">เพิ่มพนักงาน</h4>
          <button type="button " class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="text-light">&times;</span>
          </button>
        </div>
        <form id="mange_add" action="manage_emp/add" method="post">
            <div class="modal-body">
            <!-- ============================== Form ==============================-->
                
                
                <div class="form-group">
                    <label >ชื่อ</label>
                    <input type="text" class="form-control" name="Fname">
                </div>
                <div class="form-group">
                    <label >นามสกุล</label>
                    <input type="text" class="form-control" name="Lname">
                </div>
                <div class="form-group">
                    <label >ที่อยู่</label>
                    <input type="text" class="form-control" name="address">
                </div>
                <div class="form-group">
                    <label >เบอร์โทร</label>
                    <input type="text" class="form-control" name="tel">
                </div>

                <div class="form-group">
                    <label >Username</label>
                    <input type="text" class="form-control" name="username" >
                </div>
      

                <div class="form-group">
                    <label >ตำเเหน่ง</label>
                    <select class="form-control" name="position" >
                        <% for(i of db_position){%> 
                            <option value="<%=i.id%>"><%=i.name%></option>
                        <%} %> 
                    </select>
                </div>

            </div>
            
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onclick="return vali('add')">Save changes</button>
            </div>

        </form>

      </div>
    </div>
</div>


<!-- =================== Modal Update ===================-->
<div class="modal fade" id="modal-update">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-purple">
          <h4 class="modal-title ">อัปเดตข้อมูลพนักงาน</h4>
          <button type="button " class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="text-light">&times;</span>
          </button>
        </div>

        <form id="mange_update" action="manage_emp/update" method="post">
            <div class="modal-body">
            <!-- ============================== Form ==============================-->
                <div class="form-group">
                    <label >ชื่อ</label>
                    <input type="text" class="form-control" name="UFname">
                </div>
                <div class="form-group">
                    <label >นามสกุล</label>
                    <input type="text" class="form-control" name="ULname">
                </div>
                <div class="form-group">
                    <label >ที่อยู่</label>
                    <input type="text" class="form-control" name="Uaddress">
                </div>
                <div class="form-group">
                    <label >เบอร์โทร</label>
                    <input type="text" class="form-control" name="Utel">
                </div>

                <div class="form-group">
                    <label >ตำเเหน่ง</label>
                    <select class="form-control" name="position" >
                        <% for(i of db_position){%> 
                            <option id="<%=i.name%>" value="<%=i.id%>"><%=i.name%></option>
                        <%} %> 
                    </select>
                </div>

                <input type="number" name="id_update" class="d-none" value="">
            </div>

            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onclick="return vali('update')">Save changes</button>
            </div>

        </form>

      </div>
    </div>
</div>






<script src="/axios/axios.min.js"></script>
<script>
    function axios_validation(url,params,form_id,error_text){
        axios({
            url:url,
            method:'get',
            params:params,
            timeout:3000
        }).then((result)=>{
            if( result.data.status == 1){
                $(form_id).submit();
            }else{
                toastr.error(error_text)
            }
        }).catch(()=>{
            toastr.error("404 Error Not Found")
        });
    }
</script>



<script>
    
    
    $(function () {
      $('#employee').DataTable({
        "paging": true,
        "lengthMenu": [[5, 10, 20], [5, 10, 20]],
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
      
    });

    let oldOp ="";
    function update(data){
        data = JSON.parse(data)
        $("input[name=UFname]").val(data.f_name);
        $("input[name=ULname]").val(data.l_name)
        $("input[name=Uaddress]").val(data.address)
        $("input[name=Utel]").val(data.tel)          
        $("input[name=id_update]").val(data.id)

        let new_select = data.position;
        $(`option[id=${new_select}]`).attr("selected","true");
        if(oldOp !== new_select ){
            if(oldOp != ""){
                $(`option[id=${oldOp}]`).removeAttr("selected");
            }
            oldOp = new_select ;
        }

    }

    function del(id){
        $("input[name=id_del]").val(parseInt(id))
        if(confirm("ยืนการลบข้อมูล") == true){
            $("#delete").submit();
        }
    }

    function vali(mode){
        /*
            Mode insert , update 
        */
        // (document.querySelector("input[name=Fname]").innerText).trim()
        if(mode === "add"){
            let Fname = ($("input[name=Fname]").val()).trim() === "";
            let Lname = ($("input[name=Lname]").val()).trim() === "";
            let address = ($("input[name=address]").val()).trim() === "";
            let tel = ($("input[name=tel]").val()).trim() === "";
            let username = ($("input[name=username]").val()).trim() === "";
    
            if( !Fname && !Lname && !address && !tel && !username){
                let params= {
                    f_name:($("input[name=Fname]").val()).trim(),
                    l_name:($("input[name=Lname]").val()).trim(),
                    username:($("input[name=username]").val()).trim(),
                }
                axios_validation(
                    'manage_emp/is_duplicate_name',
                    params,
                    '#mange_add',
                    'มีชื่อ/นามสุกลพนักงานนี้อยู่เเล้ว'
                );
                
            }else{
                toastr.error("! กรุณาใส่ข้อมูลให้ครบ")
            }
            return false;


        }else if(mode === "update"){

            let Fname = ($("input[name=UFname]").val()).trim() === "";
            let Lname = ($("input[name=ULname]").val()).trim() === "";
            let address = ($("input[name=Uaddress]").val()).trim() === "";
            let tel = ($("input[name=Utel]").val()).trim() === "";

            if( !Fname && !Lname && !address && !tel ){
                let params= {
                    UFname: ( $("input[name=UFname]").val() ).trim(),
                    ULname: ( $("input[name=ULname]").val() ).trim(),
                    id:$("input[name=id_update]").val()
                }
                axios_validation(
                    'manage_emp/is_duplicate_name_id',
                    params,
                    '#mange_update',
                    'มีชื่อ/นามสุกลพนักงานนี้อยู่เเล้ว'
                );
            }else{
                toastr.error("! กรุณาใส่ข้อมูลให้ครบ")
            }
            return false;
        }
        
    }
  
</script>


<!-- ============================= ERROR Zone =============================-->
<!-- toastr.success('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
toastr.info('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
toastr.error('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
toastr.warning('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.') -->
<!-- ============================= ERROR Zone =============================-->